Chapter 3
1.  Basics
2.  Lists
3.  Tuples
4.  Sets
5.  Dictionary

In [6]:
#int
a=123
print(type(a))
#float
b=123.456
print(type(b))
#complex
c=5+6j
print(type(c))
#string
d="hello"
print(type(d))
#boolean
e=True
print(type(e))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>

In [8]:
#lists
a=[2023, "Python", 3.11, 5+6j, 1.23E-4]
print(type(a))

<class 'list'>

In [9]:
#nested lists
b=[['One', 'Two', 'Three'], [1,2,3], [1.0, 2.0, 3.0]]
print(type(b))

<class 'list'>

In [10]:
#tuples
a=(2023, "Python", 3.11, 5+6j, 1.23E-4)
print(type(a))

<class 'tuple'>

In [11]:
#an item in the tuple may also be a tuple
b=(['One', 'Two', 'Three'], 1,2.0,3, (1.0, 2.0, 3.0))
print(type(b))

<class 'tuple'>

Difference between list of tuple
- Lists are mutable	whereas tuples are immutable
- The implication of iterations is Time-consuming in list compared to tuple
- The list is better for performing operations, such as insertion and deletion.	A Tuple data type is appropriate for accessing the elements
- Lists consume more memory	compared to tuples
- Lists have several built-in methods. Tuple does not have many built-in methods.

In [21]:
# Creating a List with
# the use of Numbers
# code to test that tuples are mutable
List = [1, 2, 4, 4, 3, 3, 3, 6, 5]
List[3] = 77
print("Example to show mutability ", List)

Example to show mutability  [1, 2, 4, 77, 3, 3, 3, 6, 5]

In [22]:
Tuple = (1, 2, 4, 4, 3, 3, 3, 6, 5)
Tuple[3] = 77

TypeError: 'tuple' object does not support item assignment

In [23]:
#list and tuple concatenation

list1 = [1, 2, 3]
list2 = [4, 5, 6]
tuple1 = (7, 8, 9)
tuple2 = (10, 11, 12)
 
print(list1 + list2) # Output: [1, 2, 3, 4, 5, 6]
print(tuple1 + tuple2) # Output: (7, 8, 9, 10, 11, 12)

[1, 2, 3, 4, 5, 6]
(7, 8, 9, 10, 11, 12)

In [13]:
#list append
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [14]:
#list remove element from list
my_list = [1, 2, 3, 4]
my_list.remove(2)
print(my_list) # Output: [1, 3, 4]

[1, 3, 4]

In [5]:
#exercise
L1 = [1, 9, 1, 6, 3, 4]
ttl = 0
for x in L1:
   ttl+=x
print ("Sum of all numbers Using loop:", ttl)
ttl = sum(L1)
print ("Sum of all numbers sum() function:", ttl)

Sum of all numbers Using loop: 24
Sum of all numbers sum() function: 24

In [8]:
print(sum(L1))

24

In [9]:
#sets
# Creating a Set
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5])
print("Set with the use of Numbers: ")
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

In [12]:
#find common elements in two lists with the help of set operations
l1=[1,2,3,4,5]
l2=[4,5,6,7,8]
s1=set(l1)
s2=set(l2)
commons = s1&s2 # or s1.intersection(s2)
commonlist = list(commons)
print (commonlist)

[4, 5]

In [15]:
#Dictionaries
capitals = {"Maharashtra":"Mumbai", "Gujarat":"Gandhinagar", "Telangana":"Hyderabad", "Karnataka":"Bengaluru"}
numbers = {10:"Ten", 20:"Twenty", 30:"Thirty",40:"Forty"}
marks = {"Savita":67, "Imtiaz":88, "Laxman":91, "David":49}

In [16]:
#doesnt accept mutable objects as keys
d1 = {["Mango","Banana"]:"Fruit", "Flower":["Rose", "Lotus"]}
print (d1)

TypeError: unhashable type: 'list'

In [18]:
d1 = {"Fruit":["Mango","Banana"], "Flower":["Rose", "Lotus"]}
print (d1)

{'Fruit': ['Mango', 'Banana'], 'Flower': ['Rose', 'Lotus']}

In [19]:
#accessing elements
print(capitals["Maharashtra"])

Mumbai

In [20]:
#converting a dictionary to a list
d1 = {"one":11, "two":22, "three":33, "four":44, "five":55}
L1 = list(d1.items())
print (L1)

[('one', 11), ('two', 22), ('three', 33), ('four', 44), ('five', 55)]

In [21]:
for k in d1.keys():
    print(k)
    print(d1[k])

one
11
two
22
three
33
four
44
five
55

In [22]:
for k,v in d1.items():
    print(k)
    print(v)

one
11
two
22
three
33
four
44
five
55